.about-me {
  position: relative;
  display: inline-block;
}

.about-me::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px; /* Adjust the height of the black box */
  background-color: black;
  z-index: -1; /* Ensures it stays behind the text */
}

.about-me-text {
  font-size: 3.25rem;
}

.custom-underline {
  text-decoration: underline;
  text-decoration-color: #db4a2b; /* Custom underline color */
  text-decoration-thickness: 2px; /* Custom underline thickness */
}

@media (max-width: 640px) {
  .about-me-text {
    font-size: 2.25rem;
    margin-top: 2rem;
  }

  p {
    font-size: 0.75rem;
  }
}
