/* Contact icon styling */
.contact-item {
  display: flex;
  align-items: center;
}

.contact-icon {
  font-size: 24px; /* Size of the phone and email icons */
  color: #e64a19; /* Primary color (similar to the text-primary color) */
}

.contact-icon2 {
  font-size: 30px; /* Size of the phone and email icons */
  color: #e64a19; /* Primary color (similar to the text-primary color) */
}

.contact-item span {
  font-size: 18px;
  color: #333;
}

/* Social media icon styles */
.social-icons a {
  font-size: 36px; /* Size of social media icons */
  color: #333; /* Default icon color */
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.2); /* Increase size on hover */
  color: #e64a19; /* Change icon color on hover */
}

/* Separator styling */
.about-me h1 {
  font-size: 3rem;
}
