.text-intro-1 {
  font-size: 3.75rem;
  line-height: 1;
}

.text-intro-2 {
  font-size: 3.75rem;
  line-height: 1;
}

.text-intro-3 {
  font-size: 1.75rem;
  line-height: 1;
}

@media (max-width: 640px) {
  .profile {
    width: 200px;
  }

  .text-intro-1 {
    font-size: 2.75rem;
    line-height: 1;
  }

  .text-intro-2 {
    font-size: 2.25rem;
    line-height: 1;
  }

  .text-intro-3 {
    font-size: 1.25rem;
    line-height: 1;
  }
}
